.gradle
build/
eclipse\.metadata
eclipse
/bin
/eclipse
/bin
/.settings
/.classpath
/build
/.gradle
/saves
/logs
/screenshots
/config
/run
crash-reports/crash-*.txt
usernamecache
# Ignore Gradle GUI config
gradle-app.setting
usernamecache.json
options.txt
crash-reports/crash-2015-12-12_23.03.13-client.txt
crash-reports/crash-2015-12-13_13.17.01-client.txt
crash-reports/crash-2015-12-19_01.54.54-client.txt
whitelist.json
servers.dat
banned-ips.json
crash-reports/crash-2015-12-29_07.32.22-client.txt
eula.txt
banned-players.json
ops.json
server.properties
crash-reports/crash-2015-12-29_08.16.20-server.txt
usercache.json
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.markers.snap
eclipse/.metadata/*
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.jdt.core/286606776.index
eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
eclipse/.metadata/.plugins/org.eclipse.jdt.core/286606776.index
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
*.snap
eclipse/.metadata/.plugins/org.eclipse.jdt.core/286606776.index
eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi